{% extends "layout.html.twig" %}

{% block title %}Articles{% endblock %}

{% block content %}
    <div class="row">
        {% for link in links %}
            <div class="col-md-4">
                <h2><a class="linkTitle lienArticles" href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a></h2>
                <p>{{ link.desc }}</p>
                <a href="{{ link.url }}" title="" target="_blank">Open ></a>
                <em>(by {{ link.user.username }})</em>

                {% for tag in link.tags %}
                    <a href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
                        {{ tag.title }}
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="pagination" id="paginationArticles">
        {% for i in 1..totalPages %}
            <a href="{{ path('articles', { 'page': i }) }}" {% if currentPage == i %}class="active"{% endif %}>{{ i }}</a>
        {% endfor %}
    </div>

{% endblock %}