{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="row box-content">
		{% for link in links %}
			<div class="col-md-4 box-link">
			    <h2><a class="linkTitle" href="{{ path('link', { 'id': link.id }) }}">{{ link.title }}</a></h2>
			    <p>{{ link.desc }}</p>
			    <a href="{{ link.url }}" title="" target="_blank">Open ></a>
			    <em>(by {{ link.user.username }})</em>

			    {% for tag in link.tags %}
			    	<a href="{{ path('tag', { 'id': tag.id }) }}" title="Filtrer">
			    		{{ tag.title }}
			    	</a>
			    {% endfor %}
			</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-12 d-flex text-center rss">
			<a href="{{ path('rss') }}">Flux RSS</a>
		</div>
	</div>
		
{% endblock %}
